
body {
  background-color: #f8f9fa;
}

.contact-list {
  margin-top: 20px;
}

.contact-list .contact-item {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.custom-container {
  max-width: 500px; /* Imposta la larghezza massima del container */
  margin: 50px auto; /* Centra il container orizzontalmente */
  padding: 20px; /* Aggiunge spazio interno al container */
}